---
import Layout from '../components/Layout.astro';
---

<Layout title="DevAir.club">
  <iframe src="silence.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
  <audio id="player" autoplay loop preload>
    <source src="devair.mp3" type="audio/mp3">
  </audio>
	<main>
    <video id="devair" height="100%" autoplay loop muted>
      <source src="devair.mp4" type="video/mp4">
    </video>
	</main>
</Layout>


<style>
  #devair {
    position: fixed;
    right: -130px;
    bottom: -160px;
    min-width: 110%;
    min-height: 125%;
}
</style>