---
import Layout from '../components/Layout.astro';


---

<Layout title="DevAir.club">
  <iframe src="silence.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
  <audio id="player" autoplay loop preload>
    <source src="devair.mp3" type="audio/mp3">
  </audio>
	<main>
    <video id="devair" height="100%" autoplay loop muted>
      <source src="devair.mp4" type="video/mp4">
    </video>
	</main>
</Layout>

<!-- If you are developer you are welcome here. Visit https://devair.club/500_club to join the waitlist.-->

<script type="text/javascript">  
  const audio = document.getElementById('player');
  audio.play();
  audio.pause();
  setTimeout(function() {
    audio.play();
    console.log("Welcome devs. For patient people you will find this message. Look to the bottom of the page for your easter egg. Love, Eva and Jarod.");
  }, 32000);
</script>


<style>
  #devair {
    position: fixed;
    right: -130px;
    bottom: -160px;
    min-width: 110%;
    min-height: 125%;
}
</style>